<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Mock Rounds</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="signuppopup.show()" *ngIf="loggedIn == false"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" (click)="loginpopup.show()" *ngIf="loggedIn == false"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
        <li><a href="#" (click)="logout()" *ngIf="loggedIn"><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<app-login-modal #loginpopup>
  <div class="app-modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="loginpopup.hide()">&times;</button>
    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
  </div>
  <div class="app-modal-body">
    <!-- BEGIN : LOGIN-FORM COMPONENT -->
    <form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
      <!-- BEGIN : ERROR OUTPUT -->
      <app-alert *ngIf="errorShown" [message]="errorMessage"></app-alert>
      <!-- END : ERROR OUTPUT -->

      <!-- INPUT USERNAME -->
      <div class="form-group" [ngClass]="{'has-warning':!form.controls['username'].valid && form.controls['username'].touched,
                   'has-success': form.controls['username'].valid }">
        <label class="sr-only" for="username">Username</label>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon input-icon-color">
            <i class="fa fa-user"></i>
          </div>
          <input class="form-control" type="text" id="username" placeholder="Username" formControlName="username" />
        </div>
      </div>
      <!-- END : INPUT USERNAME -->


      <!-- INPUT PASSWORD -->
      <div class="form-group" [ngClass]="{'has-warning':!form.controls['password'].valid && form.controls['password'].touched ,
                   'has-success': form.controls['password'].valid }">
        <label class="sr-only" for="password">Password</label>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon input-icon-color">
            <i class="fa fa-lock"></i>
          </div>
          <input class="form-control" id="password" placeholder="Password" type="password" formControlName="password" />
        </div>
      </div>
      <!-- END : INPUT PASSWORD -->


      <!-- FORM BUTTONS -->
      <div class="form-group">
        <button type="submit" class="col-xs-6 btn btn-default-darker" [disabled]="!form.valid">
      Login
    </button>
        <button type="reset" class="col-xs-6 btn btn-default">
      Clear
    </button>
      </div>
      <!--  END : FORM BUTTONS -->

    </form>
    <!-- END : LOGIN-FORM COMPONENT -->

  </div>
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-danger btn-default pull-left" (click)="loginpopup.hide()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    <p>Not a member? <a href="#" (click)="signuppopup.show()">Sign Up</a></p>
    <p>Forgot <a href="#">Password?</a></p>
  </div>
</app-login-modal>