<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Mock Rounds</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="signuppopup.show()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" (click)="loginpopup.show()"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<app-login-modal #loginpopup>
  <div class="app-modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="loginpopup.hide()">&times;</button>
    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
  </div>
  <div class="app-modal-body">
    <form role="form">
      <div class="form-group">
        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
        <input type="password" class="form-control" id="psw" placeholder="Enter password">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="" checked>Remember me</label>
      </div>
      <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="submit" class="btn btn-danger btn-default pull-left"  (click)="loginpopup.hide()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    <p>Not a member? <a href="#" (click)="signuppopup.show()">Sign Up</a></p>
    <p>Forgot <a href="#">Password?</a></p>
  </div>
</app-login-modal>

<app-login-modal #signuppopup>
  <div class="app-modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="signuppopup.hide()">&times;</button>
    <h4><span class="glyphicon glyphicon-education"></span> Signup</h4>
  </div>
  <div class="app-modal-body">
    <form role="form">
      <div class="form-group">
        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
        <input type="text" class="form-control" id="usrname" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
        <input type="password" class="form-control" id="psw" placeholder="Enter password">
      </div>
      <div class="form-group">
        <label for="phone"><span class="glyphicon glyphicon-earphone"></span> Mobile Number</label>
        <input type="number" class="form-control" id="mobilenumber" placeholder="Enter mobile number">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="" checked>Remember me</label>
      </div>
      <button type="submit" class="btn btn-success btn-block">Signup</button>
    </form>
  </div>
</app-login-modal>