<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">MOCK ROUNDS</h1>
        <h2 class="subtitle">ONLINE MOCK INTERVIEWS - BY VERIFIED INDUSTRY EXPERTS</h2>
      </div>

<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
       <div class="card" style="padding: 10px;">
        <img class="card-img-top" src="assets/img/Interview.png">
        <div class="card-block">
          <h4 class="card-title mt-3">MOCK INTERVIEW</h4>
          <div class="card-text">
            Get interview tips and feedback. Boost your confidence and conquer interview fear.
            <br/>
            <br/>
          </div>
        </div>
        <div class="card-footer">
          <button class="button btn-sm"><span>Book Slot </span></button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card" style="padding: 10px;">
        <img class="card-img-top" src="assets/img/progress.png">
        <div class="card-block">
          <h4 class="card-title mt-3">CAREER COUNSEL</h4>
          <div class="card-text">
           Are you confused? . Counsel with experts on your career growth plan and get right proper guidance & direction
          </div>
        </div>
        <div class="card-footer">
         <button class="button btn-sm"><span>Book Slot </span></button>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
       <div class="card" style="padding: 10px;">
        <img class="card-img-top" src="assets/img/Resume.png">
        <div class="card-block">
          <h4 class="card-title mt-3">DOWNLOAD RESUMES</h4>
          <div class="card-text">
            Download unlimited quality candidate profiles for FREE. Leverage advantage of MockRound reviews.
          </div>
        </div>
        <div class="card-footer">
          <button class="button btn-sm"><span>HR Registration </span></button>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card" style="padding: 10px;">
        <img class="card-img-top" src="assets/img/hired.png">
        <div class="card-block">
          <h4 class="card-title mt-3">HIRING ASSISTANCE</h4>
          <div class="card-text">
            Hire right candidates with minimal effort & involvement. Our experts will assist in hiring.
            <br/>
            <br/>
          </div>
        </div>
        <div class="card-footer">
           <button class="button btn-sm"><span>HR Registration </span></button>
        </div>
      </div>
    </div>



    </div>
  </div>
</section>

<!-- Service Section -->

<section id="services">
  <div class="container text-center">
    <div class="row">
      <h1 class="title">How We Work</h1>
      <h2 class="subtitle">How to Book Slots for Mock Interview and Carrer Counsell</h2>

      

    </div>
  </div>
</section>
<!-- Service Section End -->



<!-- Portfolio Section -->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <h1 class="title">What people say about us</h1>

    </div>
  </div>
</section>
<!-- Portfolio Section End -->


<!-- Client Section -->
<section id="clients">
  <div class="container">
    <div class="row">

      <h1 class="title">Trusted Customers</h1>
      <br/>
      <br/> 
      <br/> 
      <div class="wow fadeInDown">
        <img class="col-md-3 col-md-3 col-sm-3 col-xs-12" src="assets/img/clients/ChipEdge.png" alt="client-1">

        <img class="col-md-3 col-md-3 col-sm-3 col-xs-12" src="assets/img/clients/conflux.png" alt="client-2">

        <img class="col-md-3 col-md-3 col-sm-3 col-xs-12" src="assets/img/clients/signoff.png" alt="client-4">

        <img class="col-md-3 col-md-3 col-sm-3 col-xs-12" src="assets/img/clients/RuPie.png" alt="client-3">

      </div>
    </div>
  </div>
</section>
<!-- Client Section End -->



<!-- About Section -->

<section id="about">
  <div class="container">
    <div class="row">
      <h1 class="title">About us</h1>
      <h2 class="subtitle">Lorem Ipsum is simply dummy text</h2>

      <div class="col-md-8 col-sm-12">
        <p>
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole
          heart. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
          ac neque. Duis vulputate commodo lectus, ac blandit elit. Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text
          of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text.
        </p>
      </div>

      <img class="col-md-4 col-md-4 col-sm-12 col-xs-12" src="assets/img/1.jpg" alt="">

    </div>
  </div>
</section>
<!-- About Section End -->

